.mui-button {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  background-color: var(--main-theme-color) !important;
  color: #fff !important;
  font-size: 1.1rem !important;
  transition: 0.3s !important;

  &:hover {
    background-color: var(--main-theme-color-blink-color) !important;
  }

  &.MuiButton-contained {
    box-shadow: none;
  }

  &:disabled {
    background-color: #ccc;
    color: #666;
  }
}
