@use "./../abstracts/mixins" as mix;

.card {
  width: 100%;

  &-header {
    @include mix.borderRadius(5px 5px 0 0);
    width: 100%;
    background-color: var(--main-theme-color);
    color: white;
    padding: 14px 10px;
  }

  &-main {
    padding: 15px 10px;
    border: 1px solid var(--gray-color-15);
  }
}
