@use "./../abstracts/mixins" as mix;

.filters-section {
  min-width: 320px;
  width: 30%;

  @media (max-width: 1199px) {
    display: none;
  }

  &-header {
    @include mix.borderRadius(5px);
    background-color: var(--gray-color-05);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px 10px;
    margin-bottom: 20px;

    .filter-icon-block {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .reset {
      position: absolute;
      left: 0;
      inset-block-end: 52px;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 400;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: red;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
